@model FirmaCagrilari.Models.TblFirmalar
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/login-form-08/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/login-form-08/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/login-form-08/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/login-form-08/css/style.css">

    <title>İş Takip Giriş Paneli</title>
</head>
<body>



    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <img src="~/login-form-08/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>İş Takip Cari Paneli</h3>
                                <p class="mb-4">Çağrı oluşturmak, çağrılarınızı takip etmek ve diğer işlemler için lütfen oturum açın.</p>
                            </div>
                            <form method="post">
                                <div class="form-group first">
                                    <label for="Mail">Mail Adresi</label>
                                    <input type="text" class="form-control" asp-for="Mail" id="Mail">

                                </div>
                                <div class="form-group last mb-4">
                                    <label for="Sifre">Şifre</label>
                                    <input type="password" class="form-control" asp-for="Sifre" id="Sifre">

                                </div>

                                <div class="d-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-0">
                                        <span class="caption">Beni Hatırla</span>
                                        <input type="checkbox" checked="checked" />
                                        <div class="control__indicator"></div>
                                    </label>
                                    <span class="ml-auto"><a href="#" class="forgot-pass">Şifremi Unuttum</a></span>
                                </div>

                                <input type="submit" value="Giriş Yap" class="btn text-white btn-block btn-primary">

                                <span class="d-block text-left my-4 text-muted"> veya sosyal medya ile giriş yap</span>

                                <div class="social-login">
                                    <a href="#" class="facebook">
                                        <span class="icon-facebook mr-3"></span>
                                    </a>
                                    <a href="#" class="twitter">
                                        <span class="icon-twitter mr-3"></span>
                                    </a>
                                    <a href="#" class="google">
                                        <span class="icon-google mr-3"></span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="~/login-form-08/js/jquery-3.3.1.min.js"></script>
    <script src="~/login-form-08/js/popper.min.js"></script>
    <script src="~/login-form-08/js/bootstrap.min.js"></script>
    <script src="~/login-form-08/js/main.js"></script>
</body>
</html>
