@model FirmaCagrilari.Models.TblMesajlar
@{
    ViewData["Title"] = "YeniMesaj";
    Layout = "~/Views/Shared/_FirmaLayout.cshtml";
}

<h1>Yeni Mesaj Oluştur</h1>

<br />
<form method="post">
    <div class="form-group">
        <label for="Konu">Mesaj Konusu</label>
        <input type="text" class="form-control" asp-for="Konu">
    </div>
    <div class="form-group">
        <label for="Mesaj">Mesaj</label>
        <textarea class="form-control" asp-for="Mesaj" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Mesaj Oluştur</button>
</form>

@*@using (Html.BeginForm("YeniMesaj", "Home", FormMethod.Post))
{
    @Html.Label("Konu")
    @Html.TextBoxFor(k=>k.Konu, new {@class= "form-control"})
    <br />
    @Html.Label("Mesaj")
    @Html.TextAreaFor(k=>k.Mesaj,10,4, new {@class= "form-control"})
    <br />
    <button class="btn btn-primary">Mesaj Oluştur</button>
}*@

