
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Firma Çağrıları</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/web/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/web/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="~/web/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/web/css/icon-font.min.css" type='text/css' />
    <script src="~/web/js/simpleCart.min.js"></script>
    <script src="~/web/js/amcharts.js"></script>
    <script src="~/web/js/serial.js"></script>
    <script src="~/web/js/light.js"></script>
    <!-- //lined-icons -->
    <script src="~/web/js/jquery-1.10.2.min.js"></script>

</head>
<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="inner-content">
                <!-- header-starts -->
                <div class="header-section">
                    <!-- top_bg -->
                    <div class="top_bg">
                        <div class="header_top">
                            <div class="top_right">
                                <ul>
                                    <li><a href="~/web/contact.html">help</a></li>|
                                    <li><a href="~/web/contact.html">Contact</a></li>|
                                    <li><a href="~/web/checkout.html">Delivery information</a></li>
                                </ul>
                            </div>
                            <div class="top_left">
                                <h2><span></span> Call us : 032 2352 782</h2>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- /top_bg -->
                </div>

                <div class="content">
                    <div class="women_main">
                            @RenderBody()
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-menu">
            <header class="logo1">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
            </header>
            <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
            <div class="menu">
                <ul id="menu">
                    <li><a href="/Home/Anasayfa"><i class="fa fa-tachometer"></i> <span>Anasayfa</span></a></li>
                    <li id="menu-academico"><a href="/Home/PasifCagrilar/"><i class="fa fa-file-text-o"></i> <span>Pasif Çağrılar</span></a></li>
                    <li><a href="/Home/Index/"><i class="lnr lnr-pencil"></i> <span>Aktif Çağrılar</span></a></li>
                    <li id="menu-academico"><a href="/Home/YeniCagri/"><i class="lnr lnr-book"></i> <span>Yeni Çağrı</span></a></li>
                    <li id="menu-academico"><a href="/Home/GelenMesajlar/"><i class="lnr lnr-inbox"></i> <span>Gelen Mesaj</span></a></li>
                    <li id="menu-academico"><a href="/Home/GonderilenMesajlar/"><i class="lnr lnr-envelope"></i> <span>Gönderilen Mesaj</span></a></li>
                    <li id="menu-academico"><a href="/Home/YeniMesaj/"><i class="lnr lnr-file-add"></i> <span>Yeni Mesaj</span></a></li>
                    <li id="menu-academico"><a href="/Home/ProfilDuzenle"><i class="lnr lnr-book"></i> <span>Profilimi Düzenle</span></a></li>
                    <li id="menu-academico"><a href="/Home/LogOut"><i class="fa fa-file-text-o"></i> <span>Çıkış Yap</span></a></li>


                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <script>
        var toggle = true;

        $(".sidebar-icon").click(function () {
            if (toggle) {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({ "position": "absolute" });
            }
            else {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function () {
                    $("#menu span").css({ "position": "relative" });
                }, 400);
            }

            toggle = !toggle;
        });
    </script>
    <!--js -->
    <script src="~/web/js/jquery.nicescroll.js"></script>
    <script src="~/web/js/scripts.js"></script>
    <script src="~/web/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/web/js/jquery.flot.js"></script>
    <script src="~/web/js/menu_jquery.js"></script>
</body>
</html>